<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refocus - VUE</title>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.4.8/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <script src="https://unpkg.com/vue@3.4.8/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.8/dist/vuetify.min.js"></script>
    <script type="text/javascript" src="/public/js/js.cookie.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/intro.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/minified/introjs.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v3.0.0/dist/cookieconsent.css">
    <link rel="stylesheet" href="/components/style/notification/style.css?v=0.3" />
    <script type="text/javascript" src="/public/js/analytics/consent.js?version={{ js_version }}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6SKEYMGQ07"></script>
    <script type="text/javascript" src="/public/js/analytics/init.js?version={{ js_version }}"></script>
    <script>
      configGtag("{{base64_encoded_user_id}}", {user_tier: "{{user_tier}}"});
    </script>
    <script type="text/javascript" src="/public/js/analytics/turn.js?version={{ js_version }}"></script>
    <script type="text/javascript" src="/components/js/notification/index.var.js"></script>
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "lm41n3ma95");
    </script>
    <style>
      .hero-image {
        width: 100%;
        height: auto;
        max-height: 512px;
      }

      .generated-image {
        cursor: pointer;
      }

      .preview-image {
        min-width: 500px;
      }

      .describe-image-button .v-btn__content {
        white-space: normal;
      }

      .green-shadow {
        text-shadow: 0px 4px 15px rgba(124, 179, 66, 0.8);
      }

      .image-preview {
        background: #2a2a2a;
      }

      .FIE_topbar-save-button {
        display: none !important;
      }

      .FIE_root {
        background: #333 !important;
      }

      .FIE_tabs-drawer {
        background: #333 !important;
      }

      .FIE_tab[aria-selected="false"] {
        background: #525252 !important;
      }

      .FIE_tab-label {
        color: rgb(140 140 140) !important;
      }

      .iIeCpq {
        color: rgb(140 140 140) !important;
      }

      .FIE_topbar-zoom-label {
        color: rgb(140 140 140) !important;
      }

      .FIE_canvas-node {
        background: rgb(100 100 100) !important;
      }

      .FIE_tabs {
        box-shadow: rgb(84 87 90 / 14%) 6px 8px 12px 0px !important;
      }

      .FIE_carousel-next-button {
        background: linear-gradient(270deg, rgb(100 100 100) 1.56%, rgb(100 100 100 / 89%) 52.4%, rgb(100 100 100 / 53%) 76.04%, rgb(100 100 100 / 0%) 100%) !important;
      }

      .FIE_carousel-prev-button {
        background: linear-gradient(90deg, rgb(100, 100, 100) 1.56%, rgba(100, 100, 100, 0.89) 52.4%, rgba(100, 100, 100, 0.533) 76.04%, rgba(100, 100, 100, 0) 100%) !important;
    </style>
  </head>
  <body>
    <div id="app">
      <v-dialog v-model="popup.isOpen" width="50%">
        <v-card border="1000">
          <v-card-title class="text-h5"> Upgrade Now </v-card-title>
            <v-card-text class="text-body-1" v-html="popup.message"></v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey-darken-1" variant="text" @click="popup.isOpen = false">
              Cancel
            </v-btn>
            <v-btn color="green-darken-1" variant="text" @click="openSubscriptionPage">
              Upgrade
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-container>
        <v-row class="d-flex flex-row align-end pa-3">
          <v-alert
            type="info"
            text="Refocus is now in beta version, and all credits consumption are discounted at 25% off!"
            variant="tonal"
            closable
          ></v-alert>
        </v-row>
        <v-row>
          <v-col cols="11">
            <v-row class="d-flex flex-row align-end pa-3">
              <div class="d-flex text-h1 font-weight-bold">imagine</div>
              <div class="d-flex text-subtitle-1 text-grey-lighten-1 ml-1">Powered by Fooocus & Diffus</div>
            </v-row>
          </v-col>
          <v-col cols="1">
            <v-btn
              id="introjs-button"
              icon="mdi-help-circle-outline"
              variant="plain"
              @click="startIntroJS(true)"
            ></v-btn>
          </v-col>
        </v-row>
        <v-row class="pa-3">
          <v-btn-toggle v-model="sd3.enabled" mandatory divided :disabled="generating">
            <v-btn color="#5a3cff" :value="false"> SDXL </v-btn>
            <v-btn :value="true" :style="sd3.enabled ? sd3.background : ''" >
                <span :style="sd3.enabled ? 'color: #0c5536;' : ''"> SD3 </span>
            </v-btn>
          </v-btn-toggle>
        </v-row>
        <v-row class="d-flex">
          <v-expansion-panels v-model="panelName" v-show="showImageOptions" class="pa-3">
            <v-expansion-panel value="image_options">
              <v-expansion-panel-text eager>
                <v-row
                  class="pa-4"
                  @mouseover="imageOptionsCloseButtonHover = true"
                  @mouseleave="imageOptionsCloseButtonHover = false"
                  @click="toggleImageOptions"
                  style="cursor: pointer"
                >
                  <v-spacer></v-spacer>
                  <v-icon :color="imageOptionsCloseButtonHover ? 'white' : 'grey'" icon="mdi-close"></v-icon>
                </v-row>
                <v-tabs vertical v-model="imageOptionTab">
                  <v-tab v-if="!sd3.enabled" value="uov">Upscale or Variation</v-tab>
                  <v-tab value="ip">Image Prompt</v-tab>
                  <v-tab v-if="!sd3.enabled" value="inpaint">Inpaint or Outpaint</v-tab>
                  <v-tab v-if="!sd3.enabled" value="desc">Describe</v-tab>
                </v-tabs>
                <v-window v-model="imageOptionTab">
                  <v-window-item value="uov" eager>
                    <v-row>
                      <v-col
                        xl="6"
                        lg="6"
                        md="8"
                        sm="12"
                        cols="12"
                      >
                        <v-card variant="flat">
                          <v-card-text>
                            <v-file-input
                              :rules="imageRules"
                              accept="image/*"
                              placeholder="Choose an image file"
                              prepend-icon="mdi-camera"
                              label="Upload Image File"
                              clearable
                              @change="event => previewUserImage(event, 'uovImageFile')"
                              @click:clear="clearPreview('uovImageFile')"
                            ></v-file-input>
                            <v-img
                              v-show="uovImageFile"
                              :src="uovImageFile"
                              class="mt-3 image-preview"
                              max-height="500"
                              contain
                            ></v-img>
                          </v-card-text>
                        </v-card>
                      </v-col>
                      <v-col
                        xl="6"
                        lg="6"
                        md="4"
                        sm="12"
                        cols="12"
                      >
                        <div class="d-flex justify-start">
                          <v-radio-group v-model="uovSelection" label="Upscale or Variation">
                            <v-radio
                              v-for="(name, index) in uovMethods"
                              :label="name"
                              :value="name">
                            </v-radio>
                          </v-radio-group>
                        </div>
                      </v-col>
                    </v-row>
                  </v-window-item>
                  <v-window-item value="ip" eager>
                    <v-row>
                      <v-col
                        v-for="index in numImagePrompts"
                        :key="index"
                        xl="3"
                        lg="6"
                        md="6"
                        sm="12"
                        cols="12"
                      >
                        <v-card
                          variant="elevated"
                        >
                          <v-card-text class="pa-0">
                            <v-file-input
                              :rules="imageRules"
                              accept="image/*"
                              placeholder="Choose an image file"
                              prepend-icon="mdi-camera"
                              label="Image File"
                              clearable
                              @change="event => previewUserImage(event, 'imagePromptImages', index - 1)"
                              @click:clear="clearPreview('imagePromptImages', index - 1)"
                            ></v-file-input>
                            <v-img
                              :src="imagePromptImages[index - 1]? imagePromptImages[index - 1]: 'https://diffus-public-static-assets.s3.amazonaws.com/static/placeholder-image.png'"
                              class="mt-3 image-preview"
                              :id="`image_prompts_container_${index - 1}`"
                              :cover="imagePromptImages[index - 1]? false: true"
                              height="480"
                            ></v-img>
                            <v-expansion-panels v-if="!sd3.enabled" v-model="imagePromptAdvancedPanel">
                              <v-expansion-panel value="advanced">
                                <v-expansion-panel-title>Advanced Options</v-expansion-panel-title>
                                <v-expansion-panel-text>
                                  <v-row>
                                    <v-col>
                                      <v-slider
                                        v-model="imagePrompts[index-1].params.stopAt"
                                        :min="0"
                                        :max="1"
                                        :step="0.001"
                                        label="Stop at"
                                      >
                                        <template v-slot:append>
                                          <v-text-field
                                            v-model="imagePrompts[index-1].params.stopAt"
                                            hide-details
                                            single-line
                                            density="compact"
                                            type="number"
                                            style="width: 70px"
                                          ></v-text-field>
                                        </template>
                                      </v-slider>
                                    </v-col>
                                    <v-col>
                                      <v-slider
                                        v-model="imagePrompts[index-1].params.weight"
                                        :min="0"
                                        :max="2"
                                        :step="0.001"
                                        label="Weight"
                                      >
                                        <template v-slot:append>
                                          <v-text-field
                                            v-model="imagePrompts[index-1].params.weight"
                                            hide-details
                                            single-line
                                            density="compact"
                                            type="number"
                                            style="width: 70px"
                                          ></v-text-field>
                                        </template>
                                      </v-slider>
                                    </v-col>
                                  </v-row>
                                  <v-row>
                                    <v-radio-group
                                      v-model="imagePrompts[index-1].params.controlType"
                                      inline
                                      @update:model-value="updateImagePromptDefault(index-1, imagePrompts[index-1].params.controlType)"
                                    >
                                      <v-radio
                                        v-for="(name, index) in ipTypes"
                                        :label="name"
                                        :value="name"
                                      >
                                      </v-radio>
                                    </v-radio-group>
                                  </v-row>
                                </v-expansion-panel-text>
                              </v-expansion-panel>
                            </v-expansion-panels>
                            <v-container v-else>
                              <v-slider
                                v-model="sd3.strength"
                                :min="0"
                                :max="1"
                                :step="0.001"
                                label="Strength"
                              >
                                <template v-slot:append>
                                  <v-text-field
                                    v-model="sd3.strength"
                                    hide-details
                                    single-line
                                    density="compact"
                                    type="number"
                                    style="width: 70px"
                                  ></v-text-field>
                                </template>
                              </v-slider>
                            </v-container>
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-window-item>
                  <v-window-item value="inpaint" eager>
                    <v-row>
                      <v-col cols="12">
                        <v-card variant="flat">
                          <v-card-text>
                            <v-file-input
                              v-model="inpaintImageFiles"
                              :rules="imageRules"
                              accept="image/*"
                              placeholder="Choose an image file"
                              prepend-icon="mdi-camera"
                              label="Upload an Image File"
                              clearable
                              @change="editUserImage"
                              @click:clear="clearEdit()"
                            ></v-file-input>
                            <div v-show="inpaintImageUploader !== null" id="inpaint-image-editor" style="height: 80vh; width: 100%;"></div>
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                    <v-tabs vertical v-model="inpaintSelection">
                      <v-tab value="Inpaint or Outpaint (default)">Inpaint or Outpaint (default)</v-tab>
                      <v-tab value="Improve Detail (face, hand, eyes, etc.)">Improve Detail (face, hand, eyes, etc.)</v-tab>
                      <v-tab value="Modify Content (add objects, change background, etc.)">Modify Content (add objects, change background, etc.)</v-tab>
                    </v-tabs>
                    <v-window v-model="inpaintSelection">
                      <v-window-item value="Inpaint or Outpaint (default)">
                        <div class="ma-4">
                          <v-combobox
                            v-model="outpaintDirection"
                            :items="['Left', 'Right', 'Top', 'Bottom']"
                            label="Outpaint Direction"
                            multiple
                            chips
                            small-chips
                          ></v-combobox>
                         </div>
                      </v-window-item>
                      <v-window-item value="Improve Detail (face, hand, eyes, etc.)">
                        <div class="ma-4">
                          <v-text-field
                            v-model="inpaintImprovementPrompt"
                            label="Inpaint Additional Prompt"
                            clearable
                            rows="1"
                            variant="solo-filled"
                            auto-grow
                            placeholder="Describing what you want to see at the masks for enhencement."
                          ></v-text-field>
                          <span>Prompts Quick List</span>
                          <v-chip-group v-model="inpaintImprovementPrompt">
                            <v-chip value="highly detailed face">highly detailed face</v-chip>
                            <v-chip value="detailed girl face">detailed girl face</v-chip>
                            <v-chip value="detailed man face">detailed man face</v-chip>
                            <v-chip value="detailed hand">detailed hand</v-chip>
                            <v-chip value="beautiful eyes">beautiful eyes</v-chip>
                          </v-chip-group>
                        </div>
                      </v-window-item>
                      <v-window-item value="Modify Content (add objects, change background, etc.)">
                        <div class="ma-4">
                          <v-text-field
                            v-model="inpaintModificationPrompt"
                            label="Inpaint Additional Prompt"
                            clearable
                            rows="1"
                            variant="solo-filled"
                            auto-grow
                            placeholder="Describing what you want to see at the masks for modification."
                          ></v-text-field>
                        </div>
                      </v-window-item>
                    </v-window>
                  </v-window-item>
                  <v-window-item value="desc" eager>
                    <v-row>
                      <v-col
                        xxl="6"
                        xl="6"
                        lg="6"
                        md="8"
                        sm="12"
                        cols="12"
                      >
                        <v-card variant="flat">
                          <v-card-text>
                            <v-file-input
                              :rules="imageRules"
                              accept="image/*"
                              placeholder="Choose an image file"
                              prepend-icon="mdi-camera"
                              label="Image File"
                              clearable
                              @change="event => previewUserImage(event, 'describeImageUploader')"
                              @click:clear="clearPreview('describeImageUploader')"
                            ></v-file-input>
                            <v-img
                              v-show="describeImageUploader"
                              :src="describeImageUploader"
                              class="mt-3 image-preview"
                              max-height="500"
                              contain
                            ></v-img>
                          </v-card-text>
                        </v-card>
                      </v-col>
                      <v-col
                        xxl="6"
                        xl="6"
                        lg="6"
                        md="4"
                        sm="12"
                        cols="12"
                      >
                        <div class="ma-4">
                          <v-alert
                              density="compact"
                              text="If you use GPT vision to generate prompt for your image, you need to be mindful of the content you are uploading. Anything violates OpenAI policy cannot be generated. And we cannot refund your credits."
                              type="warning"
                              variant="tonal"
                              closable
                            ></v-alert>
                        </div>
                        <div class="ma-2" v-if="false">
                          <v-radio-group v-model="contentTypeSelection" label="Content Type" inline>
                            <v-radio
                              v-for="(name, index) in contentTypes"
                              :label="name"
                              :value="name">
                            </v-radio>
                          </v-radio-group>
                        </div>
                        <div class="ma-4" v-if="false">
                          <v-btn
                            class="describe-image-button"
                            block
                            color="grey-lighten-1"
                            height="48"
                            :loading="describeImageLoading"
                            @click="describeImageLocal"
                          >
                            <span style="white-space: normal;">
                              Describe into Prompt (BLIP)<br/>
                              <span class="text-caption" v-html="getConsumeText(this.estimateBlipConsume)">
                              </span>
                            </span>
                          </v-btn>
                        </div>
                        <div class="ma-4">
                          <v-btn
                            class="describe-image-button"
                            block
                            color="#5a3cff"
                            height="48"
                            :loading="describeImageLoading"
                            @click="describeImageGptVision"
                          >
                            <span style="white-space: normal;">
                              Describe into Prompt (GPT-4 Vision)<span v-show="gptVisionTask.queueLength">([[ gptVisionTask.position ]]/[[ gptVisionTask.length ]])</span><br/>
                              <span class="text-caption" v-html="getConsumeText(this.estimateGptVisionConsume)">
                            </span>
                          </v-btn>
                        </div>
                      </v-col>
                    </v-row>
                  </v-window-item>
                </v-window>
              </v-expansion-panel-text>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-row>

        <v-row>
          <v-col
            xxl="9"
            xl="9"
            lg="9"
            md="9"
            sm="12"
            cols="12"
          >
            <v-textarea
              v-model="prompt"
              id="prompt-textarea"
              clearable
              variant="solo-filled"
              rows="1"
              auto-grow
              placeholder="Describe what you want to see..."
              min-height="56px"
            >
              <template v-slot:append-inner>
                <v-btn
                  id="img2img-button"
                  :color="showImageOptions? 'light-green-lighten-5': 'grey-lighten-4'"
                  variant="text"
                  @click="toggleImageOptions"
                >
                  <span
                    :class="{'material-icons': true, 'green-shadow': showImageOptions}"
                  >add_photo_alternate</span>
                </v-btn>
              </template>
            </v-textarea>
          </v-col>
          <v-col
            xxl="3"
            xl="3"
            lg="3"
            md="3"
            sm="12"
            cols="12"
          >
            <v-btn
              v-if="!generating"
              id="generate-button"
              @click="startToGenerate(0)"
              width="100%"
              height="56px"
              :color="sd3.enabled ? '' : '#5a3cff'"
              :style="sd3.enabled ? sd3.background : ''"
              :disabled="loadingPreset"
            >
              <span v-if="!sd3.enabled" style="white-space: normal;">
                Generate <br/>
                <span class="text-caption" v-html="getConsumeText(this.estimateConsume, this.estimateConsume.imageNumber)">
                </span>
              </span>
              <span v-else style="white-space: normal; color: #0c5536;">
                Generate SD3 <br/>
                <span class="text-caption" v-html="getConsumeText(this.sd3.estimateConsume, this.sd3.estimateConsume.imageNumber)">
                </span>
              </span>
            </v-btn>
            <v-row v-if="generating" class="d-flex pa-0 ma-0" width="100%">
            <v-col class="d-flex pa-0 mr-1">
              <v-btn @click="skipGeneration" :loading="skipLoading" :disabled="sd3.enabled" width="100%" height="56px" color="grey-lighten-1">Skip</v-btn>
            </v-col>
            <v-col class="d-flex pa-0 ml-1">
              <v-btn @click="stopGeneration" :loading="stopLoading" :disabled="sd3.enabled" width="100%" height="56px" color="red-lighten-1">Stop</v-btn>
            </v-col>
            </v-row>
          </v-col>
        </v-row>

        <div class="mb-4 mb-md-0 mb-lg-0i mb-sm-0 mb-xl-0 mb-xxl-0" width="100%"></div>

        <!-- Options Section -->
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-title
              expand-icon="mdi-tune"
              collapse-icon="mdi-tune"
            >
              Options
              <v-chip
                v-show="!selectingPreset && !loadingPreset && !sd3.enabled"
                id="preset-clip"
                class="ma-2"
                :color="presetColor[selectedPreset]"
                @click.stop="selectingPreset = true"
              >
                [[ presetName[selectedPreset] ]]
              </v-chip>
              <div v-show="selectingPreset && !loadingPreset && !sd3.enabled">
                <v-chip
                  v-for="preset in availablePresets"
                  :key="preset"
                  class="ma-2"
                  :color="presetColor[preset]"
                  @click.stop="updateDefaultOptions(preset)"
                >
                  [[ presetName[preset] ]]
                </v-chip>
              </div>
              <v-progress-circular
                v-show="loadingPreset"
                class="ma-2"
                indeterminate
                color="#5a3cff"
              ></v-progress-circular>
            </v-expansion-panel-title>
            <v-expansion-panel-text v-if="!sd3.enabled">
              <v-tabs vertical v-model="settingTab">
                <v-tab value="settings">Settings</v-tab>
                <v-tab value="styles">Styles</v-tab>
                <v-tab value="models">Models</v-tab>
                <v-tab value="advanced">Advanced</v-tab>
              </v-tabs>
              <v-window v-model="settingTab">
                <v-window-item value="settings">
                  <!-- Performance Options -->
                  <v-radio-group inline v-model="performance" label="Performance">
                    <v-radio v-for="item in performanceOptions" :label="item" :value="item"></v-radio>
                  </v-radio-group>
                  <!-- Aspect Ratios -->
                  <v-select
                    v-model="aspectRatio"
                    label="Aspect Ratios (width × height)"
                    :items="aspectRatios"
                  ></v-select>
                  <!-- Image Number Slider -->
                  <v-slider
                    v-model="imageNumber"
                    :min="1"
                    :max="32"
                    :step="1"
                    label="Number of Images to Generate"
                  >
                    <template v-slot:append>
                      <v-text-field
                        v-model="imageNumber"
                        hide-details
                        single-line
                        density="compact"
                        type="number"
                        style="width: 70px"
                      ></v-text-field>
                    </template>
                  </v-slider>
                  <!-- Negative Prompt -->
                  <v-text-field
                    v-model="negativePrompt"
                    label="Negative Prompt"
                    clearable
                    rows="1"
                    variant="solo-filled"
                    auto-grow
                    placeholder="Describing what you do not want to see."
                  ></v-text-field>
                  <!-- Random Checkbox -->
                  <v-checkbox
                    v-model="isRandom"
                    label="Use Random Seed"
                    @change="toggleRandom"
                  ></v-checkbox>
                  <!-- Random Seed -->
                  <v-text-field
                    v-model="randomSeed"
                    label="Random Seed"
                    :disabled="isRandom"
                    type="number"
                  ></v-text-field>
                </v-window-item>
                <v-window-item  value="styles">
                  <!-- Styles Search Bar -->
                  <v-combobox
                    v-model="selectedStyles"
                    :items="styles"
                    item-title="name"
                    item-value="name"
                    :return-object="false"
                    label="Select specific style(s)"
                    multiple
                    chips
                    closable-chips
                    small-chips
                  >
                    <template v-slot:item="{ props, item }">
                      <v-list-item v-bind="props">
                        <template v-slot:prepend>
                          <v-avatar @mouseover="mouseMoveToStylePreview(item.raw.image)">
                            <v-img :src="item.raw.image"></v-img>
                          </v-avatar>
                        </template>
                      </v-list-item>
                    </template>
                  </v-combobox>
                  <v-overlay
                    v-model="styleOverlay.show"
                    class="align-center justify-center"
                    min-height="300"
                    min-width="300"
                    @mousemove="styleOverlay.show = false"
                  >
                    <v-img :src="styleOverlay.src"></v-img>
                  </v-overlay>                </v-window-item>
                <v-window-item  value="models">
                  <v-row>
                    <v-col
                      cols="12"
                    >
                      <v-select
                        v-model="baseModel"
                        label="Base Model (SDXL only)"
                        :items="baseModels"
                      ></v-select>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      xxl="6"
                      xl="6"
                      lg="6"
                      md="6"
                      sm="12"
                      cols="12"
                    >
                      <v-select
                        v-model="refiner"
                        label="Refiner (SDXL)"
                        :items="refiners"
                        :disabled="isLCMMode"
                      ></v-select>
                    </v-col>
                    <v-col
                      xxl="6"
                      xl="6"
                      lg="6"
                      md="6"
                      sm="12"
                      cols="12"
                    >
                      <v-slider
                        v-model="refinerSwitch"
                        :min="0"
                        :max="1.0"
                        :step="0.0001"
                        label="Refiner Switch At"
                        :disabled="refiner === 'None'"
                      >
                        <template v-slot:append>
                          <v-text-field
                            v-model="refinerSwitch"
                            hide-details
                            single-line
                            density="compact"
                            type="number"
                            style="width: 70px"
                          ></v-text-field>
                        </template>
                      </v-slider>
                    </v-col>
                  </v-row>
                  <v-row v-for="n in numLoras" :key="n-1">
                    <v-col
                      xxl="6"
                      xl="6"
                      lg="6"
                      md="6"
                      sm="12"
                      cols="12"
                    >
                      <v-select
                        v-model="selectedLoraModels[n-1]"
                        :label="`LoRA ${n}`"
                        :items="loraModels"
                      ></v-select>
                    </v-col>
                    <v-col
                      xxl="6"
                      xl="6"
                      lg="6"
                      md="6"
                      sm="12"
                      cols="12"
                    >
                      <v-slider
                        v-model="selectedLoraWeights[n-1]"
                        :min="-2"
                        :max="2"
                        :step="0.01"
                        :label="`LoRA ${n} Weight`"
                      >
                        <template v-slot:append>
                          <v-text-field
                            v-model="selectedLoraWeights[n-1]"
                            hide-details
                            single-line
                            density="compact"
                            type="number"
                            style="width: 70px"
                          ></v-text-field>
                        </template>
                      </v-slider>
                    </v-col>
                  </v-row>
                </v-window-item>
                <v-window-item  value="advanced">
                  <v-slider
                    v-model="guidanceScale"
                    :min="1"
                    :max="30"
                    :step="0.01"
                    :disabled="isLCMMode"
                    label="Guidance Scale"
                  >
                    <template v-slot:append>
                      <v-text-field
                        v-model="guidanceScale"
                        hide-details
                        single-line
                        density="compact"
                        type="number"
                        style="width: 70px"
                      ></v-text-field>
                    </template>
                  </v-slider>
                  <v-slider
                    v-model="imageSharpness"
                    :min="0"
                    :max="30"
                    :step="0.01"
                    :disabled="isLCMMode"
                    label="Image Sharpness"
                  >
                    <template v-slot:append>
                      <v-text-field
                        v-model="imageSharpness"
                        hide-details
                        single-line
                        density="compact"
                        type="number"
                        style="width: 70px"
                      ></v-text-field>
                    </template>
                  </v-slider>
                  <v-select
                    v-model="selectedSampler"
                    label="Sampler"
                    :items="availableSamplers"
                    :disabled="isLCMMode"
                  ></v-select>
                  <v-select
                    v-model="selectedScheduler"
                    label="Scheduler"
                    :items="availableSchedulers"
                    :disabled="isLCMMode"
                  ></v-select>
                  <v-slider
                    v-model="forcedSteps"
                    v-if="forcedSteps >= 1"
                    :min="0"
                    :max="200"
                    :step="1"
                    :disabled="true"
                    label="Sampling Steps"
                  >
                    <template v-slot:append>
                      <v-text-field
                        v-model="forcedSteps"
                        hide-details
                        single-line
                        density="compact"
                        type="number"
                        style="width: 70px"
                      ></v-text-field>
                    </template>
                  </v-slider>
                </v-window-item>
              </v-window>
            </v-expansion-panel-text>
            <v-expansion-panel-text v-else>
              <v-window>
                <v-select
                  v-model="sd3.baseModel"
                  class="pt-2"
                  label="Base Model (SD3 only)"
                  :items="sd3.baseModels"
                ></v-select>
                <v-select
                  v-model="sd3.aspectRatio"
                  label="Aspect Ratios"
                  :items="sd3.aspectRatios"
                ></v-select>
                <v-slider
                  v-model="imageNumber"
                  :min="1"
                  :max="32"
                  :step="1"
                  label="Number of Images to Generate"
                >
                  <template v-slot:append>
                    <v-text-field
                      v-model="imageNumber"
                      hide-details
                      single-line
                      density="compact"
                      type="number"
                      style="width: 70px"
                    ></v-text-field>
                  </template>
                </v-slider>
                <v-text-field
                  v-model="negativePrompt"
                  label="Negative Prompt"
                  clearable
                  rows="1"
                  variant="solo-filled"
                  auto-grow
                  placeholder="Describing what you do not want to see."
                ></v-text-field>
                <v-checkbox
                  v-model="isRandom"
                  label="Use Random Seed"
                  @change="toggleRandom"
                ></v-checkbox>
                <!-- Random Seed -->
                <v-text-field
                  v-model="randomSeed"
                  label="Random Seed"
                  :disabled="isRandom"
                  type="number"
                ></v-text-field>
              </v-window>
            </v-expansion-panel-text>
          </v-expansion-panel>
        </v-expansion-panels>

        <!-- Preview Section -->
        <v-card
            v-if="generating"
          :loading="generating"
          class="mx-auto my-12"
        >
          <template v-slot:loader="{ isActive }">
            <v-progress-linear
              v-model="runningTaskProgress"
              :active="isActive"
              color="#5a3cff"
              height="4"
              :indeterminate="waiting"
            ></v-progress-linear>
          </template>
          <v-row>
            <v-col v-if="generating" class="preview-image" cols="4">
              <v-img :src="runningTaskPreviewImage" class="hero-image"></v-img>
            </v-col>
            <v-col cols="auto">
              <v-card-item>
                <v-card-title>[[ runningTaskMessage ]]</v-card-title>
                <v-card-subtitle v-if="runningTaskId">Task id: [[ runningTaskId ]]</v-card-subtitle>
              </v-card-item>
              <v-card-text class="pa-0">
                <v-slide-group
                  show-arrows
                  class="d-flex flex-row">
                  <v-slide-group-item
                    v-for="(image, index) in runningTaskResultImages"
                    :key="index"
                    v-slot="{ selectedClass }"
                  >
                    <v-img
                      :src="image.src"
                      :class="['generated-image', 'ma-2', 'previewable-image', selectedClass]"
                      max-width="300px"
                      min-width="300px"
                      @click="expandImage(index, runningTaskResultImages)"
                    >
                      <v-container class="fill-height d-flex align-end pa-0">
                        <v-row  align="end" class="ma-0">
                          <v-spacer></v-spacer>
                          <v-btn
                            v-if="false"
                            size="small"
                            :color="likeButtonColor[image.id]? likeButtonColor[image.id]: 'grey-lighten-4'"
                            variant="text"
                            icon="mdi-heart"
                            @click.stop="likeOrUnlike(image.id)"></v-btn>
                          <v-btn
                            v-if="false"
                            size="small"
                            :color="favoriteButtonColor[image.id]? favoriteButtonColor[image.id]: 'grey-lighten-4'"
                            variant="text"
                            icon="mdi-bookmark"
                            @click.stop="favoriteOrUnfavorite(image.id)"></v-btn>
                          <v-btn
                            v-if="false"
                            size="small"
                            :color="shareButtonColor[image.id]? shareButtonColor[image.id]: 'grey-lighten-4'"
                            variant="text"
                            icon="mdi-share-variant"
                            @click.stop="shareOrUnshare(image.id)"></v-btn>
                        </v-row>
                      </v-container>
                    </v-img>
                  </v-slide-group-item>
                </v-slide-group>
              </v-card-text>
            </v-col>
          </v-row>
        </v-card>

        <v-card
          v-for="(result, historyIndex) in historyResults"
          class="mx-auto my-12"
        >
          <v-card-item>
            <v-card-title>Task ID [[ result.taskId ]]</v-card-title>
            <v-card-subtitle>[[ result.params.prompt ]]</v-card-subtitle>
            <v-alert v-if="result.errorMessage" type="error" :text="result.errorMessage"></v-alert>
          </v-card-item>
          <v-card-text class="pa-0">
            <v-slide-group
              show-arrows
              class="d-flex flex-row">
              <v-slide-group-item
                v-for="(image, index) in result.images"
                :key="index"
                v-slot="{ selectedClass }"
              >
                <v-img
                  :src="image.src"
                  :class="['generated-image', 'ma-2', 'previewable-image', selectedClass]"
                  max-width="300px"
                  min-width="300px"
                  @click="expandImage(index, result.images)"
                >
                  <v-container class="fill-height d-flex align-end pa-0">
                    <v-row  align="end" class="ma-0">
                      <v-spacer></v-spacer>
                      <v-btn
                        v-if="false"
                        size="small"
                        :color="likeButtonColor[image.id]? likeButtonColor[image.id]: 'grey-lighten-4'"
                        variant="text"
                        icon="mdi-heart"
                        @click.stop="likeOrUnlike(image.id)"></v-btn>
                      <v-btn
                        v-if="false"
                        size="small"
                        :color="favoriteButtonColor[image.id]? favoriteButtonColor[image.id]: 'grey-lighten-4'"
                        variant="text"
                        icon="mdi-bookmark"
                        @click.stop="favoriteOrUnfavorite(image.id)"></v-btn>
                      <v-btn
                        v-if="false"
                        size="small"
                        :color="shareButtonColor[image.id]? shareButtonColor[image.id]: 'grey-lighten-4'"
                        variant="text"
                        icon="mdi-share-variant"
                        @click.stop="shareOrUnshare(image.id)"></v-btn>
                    </v-row>
                  </v-container>
                </v-img>
              </v-slide-group-item>
            </v-slide-group>
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-title>Generation parameters</v-expansion-panel-title>
                <v-expansion-panel-text>
                  <v-table density="compact">
                    <template v-slot:default>
                      <tbody>
                        <tr
                          v-for="(item, i) in result.paramsTable"
                          :key="item.name"
                        >
                          <td><b>[[ item.name ]]</b></td>
                          <td>[[ item.value ]]</td>
                        </tr>
                        <tr v-if="result.params.uov_input_image"
                        >
                          <td><b>upscale & variation input</b></td>
                          <td>
                            <v-img
                              :src="result.params.uov_input_image.encoded_image"
                              max-width="300px"
                              min-width="300px"
                              @click="expandImage(0, [{src: result.params.uov_input_image.encoded_image}])"
                            >
                          </td>
                        </tr>
                        <tr v-if="result.params.ip_ctrls"
                        >
                          <td><b>image prompts</b></td>
                          <td>
                            <v-slide-group
                              show-arrows
                              class="d-flex flex-row">
                              <v-slide-group-item
                                v-for="(ip_control, index) in result.params.ip_ctrls"
                                :key="index"
                                v-slot="{ selectedClass }"
                              >
                                <v-img
                                  :src="ip_control.ip_image.encoded_image"
                                  :class="['generated-image', 'ma-2', 'previewable-image', selectedClass]"
                                  max-width="300px"
                                  min-width="300px"
                                  @click="expandImage(index, result.params.ip_ctrls.map(item => {return {src: item.ip_image.encoded_image};}))"
                                >
                                </v-img>
                              </v-slide-group-item>
                            </v-slide-group>
                          </td>
                        </tr>
                        <tr v-if="result.params.inpaint_input_image"
                        >
                          <td><b>inpaint inputs</b></td>
                          <td>
                            <v-slide-group
                              show-arrows
                              class="d-flex flex-row">
                              <v-slide-group-item
                                v-slot="{ selectedClass }"
                              >
                                <v-img
                                  :src="result.params.inpaint_input_image.image.encoded_image"
                                  :class="['generated-image', 'ma-2', 'previewable-image', selectedClass]"
                                  max-width="300px"
                                  min-width="300px"
                                  @click="expandImage(0, [{src: result.params.inpaint_input_image.image.encoded_image}, {src: result.params.inpaint_input_image.mask.encoded_image}])"
                                >
                                </v-img>
                              </v-slide-group-item>
                              <v-slide-group-item
                                v-slot="{ selectedClass }"
                              >
                                <v-img
                                  :src="result.params.inpaint_input_image.mask.encoded_image"
                                  :class="['generated-image', 'ma-2', 'previewable-image', selectedClass]"
                                  max-width="300px"
                                  min-width="300px"
                                  @click="expandImage(1, [{src: result.params.inpaint_input_image.image.encoded_image}, {src: result.params.inpaint_input_image.mask.encoded_image}])"
                                >
                                </v-img>
                              </v-slide-group-item>
                            </v-slide-group>
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-table>
                </v-expansion-panel-text>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-card-text>
        </v-card>

        <v-dialog
          v-model="previewDialog"
          width="75%"
        >
          <v-carousel
            v-model="previewIndex"
            hide-delimiter-background
          >
            <v-carousel-item
              v-for="(image, i) in previewImages"
              :src="image.src"
              :key="i"
              :value="i"
            >
            </v-carousel-item>
          </v-carousel>
        </v-dialog>
      </v-container>
    </div>

    <script src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-image-editor/latest/filerobot-image-editor.min.js"></script>
    <script type="text/javascript" src="/api/focus/static/js/mask.js"></script>
    <script type="text/javascript" src="/api/focus/static/js/utils.js"></script>
    <script>
      function joinWords(words, conjunction = "and") {
        const names = words.map((item) => `"${item}"`);
        if (names.length == 1) {
          return names[0];
        }
        const last_name = names.pop();
        return `${names.join(", ")} ${conjunction} ${last_name}`;
      }

      const AFFILIATE_PROGRAM = '<a href="/affiliate/everyone" target="_blank" style="text-wrap: nowrap">Affiliate Program</a>';
      const NSFW_ALLOWED_TIERS = ["Basic", "Plus", "Pro", "Api"];
      const NSFW_ALLOWED_TIERS_MESSAGE = joinWords(NSFW_ALLOWED_TIERS, "or");
    </script>
    <script type="module" src="/public/js/analytics/cookieconsent-config.mjs?version={{ js_version }}"></script>
    <script type="text/javascript" src="/api/focus/static/js/app.js?version={{ app_version }}"></script>
    <script>
      function getIntroJS() {
        return introJs().setOptions({
          tooltipClass: "text-black",
          showProgress: true,
          showBullets: false,
          steps: [
            {
              title: "Refocus Quick Guide",
              element: document.querySelector("#prompt-textarea"),
              intro: "Just simply describe what you would like to see in plain English here.",
            },
            {
              element: document.querySelector("#generate-button"),
              intro: "Click here to generate images.",
            },
            {
              element: document.querySelector("#preset-clip"),
              intro: "Click here to choose a preset for paramters and styles.",
            },
            {
              element: document.querySelector("#img2img-button"),
              intro: "Click here to open the image to image interface.",
            },
            {
              element: document.querySelector("#introjs-button"),
              title: "Enjoy Refocus",
              intro: "Click here to view this guide again. <p> Join our <a href='https://discord.gg/e4UVBNuHyB'>Discord</a> for futher support.</p><br><p>Enjoy!</p>",
            }
          ],
        });
      }
    </script>
  </body>
</html>
